* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #090000cf;
    --snd-bg-color: #262B40;
    --text-color: #d2b40b;
    --main-color: #59B2f4;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.recipe-detail-container {
    margin-top: 20px;
    margin: 6rem auto;
    width: 70%;
    background: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 2rem;
}

.recipe-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--snd-bg-color);
}

.recipe-image-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.recipe-detail-img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-description-section, .recipe-ingredients-section {
    margin-bottom: 2rem;
}

.recipe-description-section h2, .recipe-ingredients-section h2 {
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.comments-section {
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--snd-bg-color);
    border-radius: 8px;
    color: var(--text-color);
}

.comment-form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 1rem;
}

.comment-form button {
    padding: 0.5rem 1rem;
    border: none;
    background: var(--main-color);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}

.comment-form button:hover {
    background: var(--text-color);
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 1rem 0;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffc107;
}

.star-rating .fa-star {
    color: #ddd;
}

.star-rating .checked {
    color: #ffc107;
}

.approved-comments .comment {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
}
